.toolbar {
  display: flex;
  width: 100%;
}
.toolbar > button {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}
.toolbar > select {
  margin: 0 1em;
  flex: 1;
  text-align: center;
}
